@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  padding: 1em;
  background: #1b1b1b;
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  color: #fff;
  margin-bottom: 1em;
  font-weight: bolder;
  font-size: 1.5em;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 1em;
  background: #292929;
  margin-bottom: 0.5em;
  border: 1px solid #3b3b3b;
  max-width: 100%;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li a:hover {
  border-color: #fff;
}

a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 2em;
  color: #666;
  font-weight: lighter;
  font-size: 0.8em;
}

footer a {
  color: #666;
  text-decoration: none;
}

a:focus,
button:focus,
input:focus {
  outline: 1px solid #fff;
  outline-offset: 2px;
  border-radius: 3px;
}

.loading {
  color: #666;
}

::selection {
  background: #fff;
  color: black;
}
